* {
  padding: 0;
  margin: 0;
}

* html,
* body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

* .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

* .column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

* .wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

* .space-even {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

* .center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* .row-space-evenly {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

* .grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

* .sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

* a {
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

* a {
  color: black;
}

* a:visited {
  color: black;
}

* a:hover {
  color: gray;
}

* a:active {
  color: black;
}

* button {
  cursor: pointer;
}

header {
  background-color: white;
}

.message-to-viewer {
  z-index: 9;
  background-color: red;
  font-weight: 600;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav {
  padding: 1rem;
  font-size: 1.2rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .active {
  color: aqua;
  border-bottom: 2px solid #2196f3;
}

nav a:hover {
  color: #2196f3;
}

.container {
  background-color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wide-card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 auto;
  overflow: hidden;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 0.5rem;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.wide-card .top {
  padding-top: .5rem;
}

.wide-card .top .name {
  font-weight: 600;
}

.wide-card .middle {
  padding: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.wide-card .bottom {
  padding: auto;
  padding-bottom: .5rem;
}

.wide-card a {
  border-bottom: 1px solid #2196f3;
}

.wide-card a:hover {
  color: #2196f3;
}

.wide-card .half {
  width: 50%;
  background-color: #f4f4f4;
}

.wide-card .onefourth {
  width: 25%;
  background-color: #f4f4f4;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
}

.wide-card .threefourth {
  width: 75%;
  background-color: #f4f4f4;
  border-radius: 5px;
}

.wide-card .fourfourth {
  padding: .5rem;
  width: 100%;
  background-color: #f4f4f4;
  border-radius: 5px;
}

.wide-card .external-links {
  padding: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wide-card .external-links a {
  margin: 0 0.5rem;
}

.wide-card .external-links div {
  margin: 0 1rem;
}

.wide-card .btn-small-white {
  /* background-color: white;
	border: 1px solid grey;
	border-radius: 5px; */
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.25rem;
  margin: 0.25rem;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  font-size: 0.7rem;
}

.wide-card button {
  background-color: white;
  border: 0;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  border-radius: 10px;
  width: 150px;
  margin: 0.3rem 0;
  border: 2px solid #2196f3;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.wide-card button:hover {
  background-color: #2196f3;
  color: white;
  border: 2px solid #2196f3;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.rocket img {
  width: 100%;
}

.rocket tr:nth-child(odd) {
  background-color: #f4f4f4;
}

.launch-card {
  width: 200px;
  min-height: 73px;
  overflow: hidden;
  background-color: white;
  border-left: solid 5px green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* flex-grow: 1; */
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  margin: 0.5rem;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.launch-card:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.name {
  font-weight: 600;
}

.failed-launch {
  border-left: solid 5px red;
}

.future-launch {
  border-left: solid 5px blue;
}

.launch-card img {
  width: 100%;
}

.rocket-card {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* min-width: 200px;
	  max-width: 300px; */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* flex-grow: 1; */
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* border-radius: 1rem; */
  margin: 1rem;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.rocket-card .rocket-middle {
  font-size: 4rem;
  color: white;
  text-shadow: 0 0px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.5);
}

.rocket-card:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.rocket-card img {
  width: 100%;
}

.parent-container,
.launch-container,
.rocket-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.max-800 {
  max-width: 800px;
}

.sub-col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center-flex {
  -ms-flex-line-pack: center;
      align-content: center;
}

.sidebar {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .sidebar-section {
  padding-top: 1rem;
}

.sidebar button {
  background-color: white;
  border: 0;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  border-radius: 10px;
  width: 150px;
  margin: 0.3rem 0;
  border: 2px solid #2196f3;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.sidebar button:hover {
  border: 1px solid #2196f3;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.sidebar .btn-active {
  background-color: #2196f3;
  color: white;
  border-color: #2196f3;
}

.sidebar p {
  margin: 0.7rem 0 0.2rem 0;
}

.sidebar .filter .rocket-used {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .filter .successful-launch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .category {
  /* temp margin for red banner */
  margin-top: 0.5rem;
  text-align: center;
}

.sidebar .sidebar-title {
  font-weight: 600;
}

.sidebar .search-bar input[type="text"] {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  font-size: 1.3rem;
  width: 150px;
  border: 0;
  border-radius: 10px;
  text-align: center;
  border: 2px solid #d1d1d1;
}

.sidebar button {
  background-color: white;
  border: 0;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  border-radius: 10px;
  width: 150px;
  margin: 0.3rem 0;
  border: 2px solid white;
  -webkit-transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.sidebar button:hover {
  border: 2px solid #2196f3;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.sidebar .btn-active {
  background-color: #2196f3;
  color: white;
}

.sidebar .btn-always {
  border: 2px solid #2196f3;
}
/*# sourceMappingURL=style.css.map */